body {
    max-width:1200px;
    margin: 0 auto;
    padding: 0 auto;
    background-color: white;
}
article {
    max-width: 700px;
    margin: 30px auto;
    background-color: white;
    
}
article:hover {
    max-width: 700px;
    margin: 20px auto 30px auto;
    background-color: white;
    border: 2px solid grey;
    box-shadow: 15px 15px 1px 1px rgba(127, 132, 126, 0.7);
    transition-duration: 0.3s;
}
p,h2 {
  font-size: medium;
}
p,h1,h2, #container {
  margin: 20px 10px;
  padding: 5px 10px;
  text-align: left;
}
ul, li{
  margin-left: 20px;
  padding: 5px;
}
img {
  padding: 0px;
}
.article_img {
    float: right; 
    width: 40%;
    height: auto;
    padding: 5px;
    /*border: 1px solid black*/
}
.article_img:hover {
    float: right; 
    width: 100%;
    height: auto;
    padding: 0px;
    transition-duration: 1s;
    /*border: 1px solid black*/
}
.article_img:active {
    float: right; 
    width: 40%;
    height: auto;
    padding: 0px;
    transition-duration: 1s;
}
    
#foto_kovynyev {
  float: right;
  width: 30%;
  height: auto; 
  max-width: 130px;
}
#contact_us {
  max-width: 600px;
}
#container {
  max-width: 600px;
}
.buttons {
  list-style: none;
  margin: 0 auto;
  padding: 0 auto;
  background: deepskyblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: white;
}

.buttons a:hover {
  background: #00b7f5;
  font-size: 1em;
  font-weight: bold;
  
}
#header {
    height: 100px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 auto;
}
div#string {
  height: 4px;
  background-color: deepskyblue; 
  margin: 0 auto;
  padding: 0 auto;
}
img.logo {
  padding: 0px;
  margin: 0px;
  max-height: 50px;
  width: auto;
}
div.partners{
  text-align: center;
  width: 100px;
  height: auto;
  
}
div.partners:hover{
  text-align: center;
  width: 100px;
  height: auto;
  border-style: outset;
  border-radius: 5px;
  box-shadow: 3px 3px 1px 1px rgba(127, 132, 126, 0.7);
  transition-duration: 0.3s;
  
}
div.adress, div.partners{
  display: inline-block;
  padding: 10px auto;
  margin: 10px auto;
}

footer div.partners{
  float: none;
}

footer div p  {
  padding: 0px 200px 0px 10px;
  margin: 0px;
}

@media all and (max-width: 1200px) {
  .buttons {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  
}
@media all and (max-width: 800px) {
  .buttons {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
footer div p  {
  padding: 0px 0px 0px 10px;
  margin: 0px;
}
article {
    max-width: 700px;
    margin: 20px auto;
    background-color: white;
    
}
article:hover {
    max-width: 700px;
    margin: 10px auto 20px auto;
    background-color: white;
    border: 2px solid grey;
    box-shadow: 7px 7px 1px 1px rgba(127, 132, 126, 0.7);
    transition-duration: 0.3s;
}  
}
@media all and (max-width: 460px) {
 
 article {
    max-width: 700px;
    margin: 10px auto;
    background-color: white;
    
}
article:hover {
    max-width: 700px;
    margin: 5px auto 10px auto;
    background-color: white;
    border: 2px solid grey;
    box-shadow: 2px 2px 0.5px 0.5px rgba(127, 132, 126, 0.7);
    transition-duration: 0.3s;
}  
  p,h1,h2,fieldset {
  margin: 5px 5px;
}
  
  .buttons {
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    padding: 0px;
    
  }
  .buttons a {
    text-align: center;
    padding: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  #header {
    display: none;
  }
  img.article_img {
    float: right; 
    width: 100%;
    height: auto;
}
footer div p  {
  padding: 0px 0px 0px 10px;
  margin: 0px;
}
p,h1,h2,fieldset {
  margin: 5px 5px;
  padding: 0px 5px;
  text-align: left;
}
ul, li{
  margin-left: 1px;
  padding: 1px;
}

.buttons div:last-of-type a {
    border-bottom: none;
  }
}